# ignore all
*
# except important files
!.gitignore
!README.md
# except lab subdirectories
!lab*/
lab*/*
# except source code files anywhere
!**/*.vhd
!**/*.vhdl
!**/*.v
!**/*.sv
# except project specific files anywhere
!**/*.xise
!**/*.gise
!**/*.ucf
# except local documentation (any file or dir)
!**/doc/
!**/doc/**
# except testbench subdirs and TB sources/scripts
!**/*_tb/
**/*_tb/*
!**/*_tb/*.vhd
!**/*_tb/*.v
!**/*_tb/*.do
# lab4 subdirs
!lab4/hexled_demo/
!lab4/uart_module/