# ignore all
*

*.xmsgs
*.xreport
*.html
*.log
*.cmd
lab1/isim/*
*.c
*.didat
*.obj
*.dbg
*.dll
*.dat
*.exe
*.vdb
*.vdbx
*.vdbl
*.ini
*.xml
*.xrpt
*.wdb
*.xst
*.prj
*.vhf
*.syr
*.stx
*.sch
*.ngr
*.ngc
*.lso
*.jhd
*.cmd_log
lab1/sch2HdlBatchFile
*.jou
*.ppr
*.wpc
*.psg
*.edif
*.debug
*.tcl
*.lst
*.xsl
*.xwbt
*.bgn
*.bld
*.drc
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xdl
*.xpi
*.map
*.mrp
*.ngm
*.csv
*.txt
*.wdf
*.xbcd
*.lpc
*.rpt
*.projectmgr
*.bit
