NET "y<0>"  LOC = P4 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; ## LED0
NET "y<1>"  LOC = N5 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; ## LED1
NET "y<2>"  LOC = P5 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; ## LED2
NET "y<3>"  LOC = M6 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; ## LED3

NET "x<0>"  LOC = C3 | IOSTANDARD = "LVCMOS33" ; ## KEY1
NET "x<1>"  LOC = D3 | IOSTANDARD = "LVCMOS33" ; ## KEY2
NET "x<2>"  LOC = E4 | IOSTANDARD = "LVCMOS33" ; ## KEY3
NET "x<3>"  LOC = E3 | IOSTANDARD = "LVCMOS33" ; ## KEY4
