##################################################################################
## AX309 Board FPGA Pin Definition 
## FPGA Family: Spartan-6 
## FPGA Model: XC6SLX9
## FPGA Package: FT(G)256
##################################################################################

##################################################################################
## External Clock
##################################################################################
NET "CLK" LOC = T8 | TNM_NET = "sys_clk_pin";
TIMESPEC "TS_sys_clk_pin" = PERIOD "sys_clk_pin" 50 MHz HIGH 50.00%;

##################################################################################
## Custom reset (external pull-up)
##################################################################################
NET "RST" LOC = L3 | IOSTANDARD = "LVCMOS33"; ## RESET pushbutton

##################################################################################
## Buzzer Pin 
##################################################################################
NET "BPO"  LOC = J11 | IOSTANDARD = "LVCMOS33";  ##  Buzzer output

##################################################################################
## LED Pins 
##################################################################################
NET "LED[0]" LOC = P4 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED[1]" LOC = N5 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED[2]" LOC = P5 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED[3]" LOC = M6 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

##################################################################################
## KEY Pins (external pull-up)
##################################################################################
NET "SWI[0]" LOC = C3 | IOSTANDARD = "LVCMOS33" ;
NET "SWI[1]" LOC = D3 | IOSTANDARD = "LVCMOS33" ;
NET "SWI[2]" LOC = E4 | IOSTANDARD = "LVCMOS33" ;
NET "SWI[3]" LOC = E3 | IOSTANDARD = "LVCMOS33" ;